<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="goToShopList()">Shop List</ion-button>
    <ion-button (click)="goToAddShop()">Add Shop</ion-button>

    <ion-list>
      <ion-item *ngFor="let s of shops">
        <p>address: {{s.address}}</p>
        <p>telephone {{s.telephone}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
